<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Ali Sokmen</title>
</head>
<body id="app">
    <header class="main">
        <h1>Contact Me</h1>
        <nav>
            <span v-html="HTMLcontent">{{HTMLcontent}}</span>
        </nav>
    </header>
    <section class="main">
        <figure>
            <img id="contactMeme" src="images/contact.jpeg" width="576" height="576" alt="Contact information meme"/>
        </figure>
        <article>
            <p>My preferred contact channel is email. I normally respond to emails within a day. However, Whatsapp messages are also fine if you cannot wait!</p>
            <ul>
                <li>
                    <a href="mailto:sokmena@bu.edu">Email</a>
                </li>
                <li>
                    <a id="waPC" @click="displayModal = true">Whatsapp</a>
                    <a id="waMobile" href="images/wa.jpeg">Whatsapp</a>
                </li>
                <li>
                    Discord: skmna#9167
                </li>
            </ul>
        </article>
        <div id="modalWA" v-if="displayModal" @click="displayModal = false">
            <img id="waImg" :src="wa" alt:="WhatsApp contact square code"/>
        </div>
    </section>
    <div class="backshade" v-if="displayModal" @click="displayModal = false"></div>
    <footer>
        <hr>
        {{footer}}
    </footer>
    <script src="script/vue.js"></script>
    <script>
        app.mount('#app');
    </script>
</body>
</html>