<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Ali Sokmen</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body id="app">
    <header class="main">
        <h1>Image Gallery</h1>
        <nav id="nav">
            <span v-html="HTMLcontent">{{HTMLcontent}}</span>
        </nav>
    </header>
    <section class="main">
        <h2>Click on an image to enlarge</h2>
        <article>
            <figure>
                <img src="images/gallery/trakya.jpg" width="3840" height="2160" alt="A landscape from Turkey" @click="displayModal = true"/>
                <figcaption>Turkey, 2021</figcaption> 
            </figure>
        </article>
        <div class="modal" v-if="displayModal">
            <img src="images/gallery/trakya.jpg" width="3840" height="2160" alt="A landscape from Turkey" @click="displayModal = false"/>
          </div>
    </section>
    <div class="backshade" v-if="displayModal" @click="displayModal = false"></div>
    <footer>
        <hr>
        {{footer}}
    </footer>
    <script src="script/vue.js"></script>
    <script>
        app.mount('#app');
    </script>
</body>
</html>
